<!DOCTYPE html>
<html>
    <title>Make a post!</title>
    <head>
        <link rel="stylesheet" href="../static/post.css">

    </head>

    <body class="webpage">
        <h1 style="color:white;">Make a Post!</h1>
        <h2 style="color:white; font-size: 15px;">Some file types (JPG, MP3/4, etc.) may corrupt depending on S and L</h2>
        <form class="login-box" action="/post" method="POST" enctype="multipart/form-data">
            <!-- <label for="file-select" class="file-select-label">Testing</label> -->
            <input type="file" name="image" class="file-select" id="file-select">
            <button type="submit" class="submit-btn">Submit</button>
 

        </form>


    </body>
</html>